header {
    text-align: center;
    background-color: #DAF7A6;
    color: #34495E;
}
.center {
    text-align: center;
    background-color: #CE3F20;
    color: #1B2631;
    padding: 20px;
}
.result {
    text-align: center;
    background-color: #DAF7A6;
    padding: 10px 30% 10px 30%;
}
.error {
    color: white;
    visibility: hidden;
}